.bg-purple{
	background-color: #6a1b9a;
}

.bg-white{
	background-color: #fff;
}


input[type="date"], input[type="time"], input[type="number"] {
	width: 100%;
	background-color: rgb(248,248,248); /* Example background color */
	/* Additional styles */
	color: black; /* Text color */
	border: 1px solid #ccc; /* Border color and width */
	padding: 5px; /* Padding inside the input */
	border-radius: 4px; /* Rounded corners */
}
